option_settings:
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthCheckInterval
    value: '300'
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthCheckPath
    value: /test
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthCheckTimeout
    value: '30'
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthyThresholdCount
    value: '3'
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: UnhealthyThresholdCount
    value: '5'
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: Port
    value: '80'
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: Protocol
    value: HTTP
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: StickinessEnabled
    value: 'true'
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: StickinessLBCookieDuration
    value: '43200'
  - namespace: aws:elasticbeanstalk:healthreporting:system
    option_name: SystemType
    value: basic